<div class="it_1607_header_wrapper">
    <div class="menu_icon" [style.right]="isShow ? '20px' : '6px'">
        <span class="material-icons md-24" (click)="toggleMenu()">menu</span>
    </div>
    <div class="menu_right">
        <div class="item" lang ngbDropdown>
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/2560px-Flag_of_the_United_States.svg.png" id="dropdownBasic1" alt="" srcset="" ngbDropdownToggle>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="wrapper">
                <button class="d-item" ngbDropdownItem>

                    <img src="https://flagcdn.com/16x12/us.png" alt="" srcset="">
                    ENG
                </button>
                <button class="d-item" ngbDropdownItem>
                    <img src="https://flagcdn.com/16x12/vn.png" alt="" srcset="">
                    VI

                </button>
                <button class="d-item" ngbDropdownItem>
                    <img src="https://flagcdn.com/16x12/jp.png" alt="" srcset="">
                    JP

                </button>
            </div>
        </div>
    </div>
    <div class="avatar_area">
        <img class="avatar"
            src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t1.6435-9/106016161_720374642046783_3111333105636540800_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=I2vW9bpIuLQAX9H5Lcz&_nc_ht=scontent.fsgn5-9.fna&oh=00_AT_wYA52PX9-tVhmjGzIpobZKM9v8ZNGKDLd2CJtMthMxg&oe=621C0298"
            alt="">
        <div class="information">
            <div class="welcome_text">Welcome back, Nhật Trường</div>
            <div class="notify_text">
                <span class="material-icons md-24" style="margin-top: -1px;">notifications</span>

                <span>You have 2 new messages and 15 new tasks</span>
            </div>
        </div>
    </div>
</div>