/* You can add global styles to this file, and also import other style files */
@import "~node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');
$_1607_primary_color: #0f172a;
$_1607_secondary_color: #fff;

@mixin _1607_flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.material-icons {
    &:hover {
        transform: scale(1.1);
    }
}

body::-webkit-scrollbar {
    width: 1px;
}


/* Track */

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $_1607_primary_color;
}


/* Handle */

body::-webkit-scrollbar-thumb {
    background: $_1607_primary_color;
}

.common_scrollbar::-webkit-scrollbar {
    width: 6px;
}


/* Track */

.common_scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


/* Handle */

.common_scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

input {
    outline-width: 2px !important;
    outline-color: $_1607_primary_color !important;
}